# Configuración de la base de datos
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_NAME=sparfonds

# Clave secreta para la aplicación
SECRET_KEY=mi_secreto_super_seguro

# Entorno de ejecución (development o production)
FLASK_ENV=development 