# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=732137A031E4b@
DB_NAME=sparfonds

# Configuración de la aplicación
FLASK_ENV=development
# Cambiar a 'production' en entorno de producción