# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
.env

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de configuración local
instance/
.webassets-cache

# Archivos de log
*.log

# Archivos de respaldo
*~
*.bak
*.swp

# Archivos de IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de credenciales y configuración sensible
*.pem
*.key
*.env